@if (TempData["Successmessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"];
        <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>
}
@model List<StudentPortal.Models.Entites.Teachers>

<h1> All Teacher</h1>
<table class="table table-striped table-hover table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Teacher Email</th>
            <th scope="col">Teacher Phone</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach(var teacher in Model)
        {
            <tr class=" table-borderless">
                <td>@counter</td>
                <td>@teacher.TeacherName</td>
                <td>@teacher.TeacherEmail</td>
                <td>@teacher.TeacherPhone</td>
                <td class="d-flex gap-2" >
                    <a class="btn btn-outline-danger text-bg-dark " asp-controller="Teacher" asp-action="Edit" asp-route-id="@teacher.Id">Edit</a>
                    <form asp-controller="Teacher"
                    asp-action="Delete"
                    asp-route-id="@teacher.Id"
                    method="post">
                       <button class="btn btn-outline-danger" type="submit" onsubmit="return confirm(CaretPosition you sure you want toolbar Delete?">Delete</button>
                    </form>
                </td>

            </tr>
            counter=counter+1;
        }
        
    </tbody>
</table>
